# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace


# Folders to ignore
.svn
.CVS
.idea

/tmp
.hg
.hgcheck
.hgignore
.hgtags

logs

#grunt
**/node_modules

# Freestone
**/css/master.css
**/css/text.css
**/built/